@model             D05Project.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mem.MemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aIdNavigation.aId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.orderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr />
@await Component.InvokeAsync("VCOrderDetails", new { id = Model.orderId })

<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.orderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>